<h1 class="text-center">All Movies</h1>

<div class="d-flex">
  <%= link_to "New Movie", new_movie_path, class: "btn btn-primary mb-3 mx-auto" %>
</div>

<div class="d-flex flex-wrap">
  <% @movies.each do |movie| %>
    <div class="card mx-1" style="width: 270px;">
      <img class="card-img-top" src="<%= movie.img %>" alt="Poster of <%= movie.title %>">
      <div class="card-body">
        <h5 class="card-title"><%= movie.title %></h5>
        <h6 class="card-subtitle mb-2"><%= movie.release_date.year %></h6>
        <h6 class="card-subtitle mb-2 text-muted"><%= movie.genre %></h6>
        <p class="card-text mb-0">Runtime: <%= movie.runtime %> minutes.</p>
        <p class="card-text">Release Date: <%= movie.release_date.strftime("%d %B %Y") %></p>
        <%= link_to "Show", movie_path(movie), class: "btn btn-primary" %>
        <%= link_to "Edit", edit_movie_path(movie), class: "btn btn-secondary" %>
        <%= link_to "Delete", movie_path(movie),
                              method: :delete,
                              data: { confirm: "Are you sure?" },
                              class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>